<h1>Your Recent Order</h1>

<h3>Sub total: <%= number_to_currency(@order.sub_total) %></h3>

  <%= button_to 'Delete Order', @order, :method => 'delete', :data => {:confirm => 'Are you sure?'}, :class => 'spacing' %>
